{% extends 'view_modal_with_files.html' %}

{% block module %}
    Publicación
{% endblock %}

{% block modal_body %}
    <input type="hidden" name="id" id="view_id">

    <!-- Title -->
    <div class="col-span-6">
        <label for="view_title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Título</label>
        <input type="text" id="view_title" readonly
               class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>

    <!-- Summary -->
    <div class="col-span-6">
        <label for="view_summary" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Resumen</label>
        <input type="text" id="view_summary" readonly
               class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>

    <!-- Content -->
    <div class="col-span-6">
        <label for="view_content" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contenido</label>
        <textarea id="view_content" rows="8" readonly
                  class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></textarea>
    </div>

    <!-- Status -->
    <div class="col-span-6 sm:col-span-3">
        <label for="view_status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Estado</label>
        <input type="text" id="view_status" readonly
               class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
{% endblock %}
