{% extends 'view_modal.html' %}

{% block module %}
    Cobro
{% endblock %}

{% block modal_body %}
    <div class="grid grid-cols-6 gap-6">
        <input type="hidden" name="id" id="view_id">

        <!-- JYA -->
        <div class="col-span-6 sm:col-span-3">
            <label for="view_jya"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">JYA</label>
            <input type="text" name="jya" id="view_jya" readonly
                   class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>

        <!-- Charge Amount -->
        <div class="col-span-6 sm:col-span-3">
            <label for="view_amount"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Monto</label>
            <input type="number" name="amount" id="view_amount" readonly
                   class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>

        <!-- Charge Date -->
        <div class="col-span-6 sm:col-span-3">
            <label for="view_date"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha de
                cobro</label>
            <div class="relative max-w-sm">
                <input id="view_date" type="text" name="date" readonly
                       class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
        </div>

        <!-- Member -->
        <div class="col-span-6 sm:col-span-3">
            <label for="view_member"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Miembro</label>
            <input type="text" id="view_member" readonly
                   class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>

        <!-- Payment Method -->
        <div class="col-span-6 sm:col-span-3">
            <label for="view_payment_method"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Método de pago</label>
            <input type="text" id="view_payment_method" readonly
                   class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>

        <!-- Observations -->
        <div class="col-span-6">
            <label for="view_observations"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Observaciones</label>
            <textarea id="view_observations" rows="4" name="observations" readonly
                      class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></textarea>
        </div>
    </div>
{% endblock %}
