{% extends 'add_modal.html' %}

{% block title %}
    Agregar nuevo cobro
{% endblock %}

{% block modal_body %}
    <div class="grid grid-cols-6 gap-6">

        <!-- JYA Name -->
        <div class="col-span-6 sm:col-span-3">
            <label for="addJyaName"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre del JYA</label>
            <select name="jya_id" id="addJyaName"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    required>
                <option value="" selected>Seleccione un JYA</option>
                {% for jya in jyas %}
                    <option value="{{ jya.id }}">{{ jya.person.name }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Payment Date -->
        <div class="col-span-6 sm:col-span-3">
            <label for="addDate"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha de pago</label>
            <div class="relative max-w-sm">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                    </svg>
                </div>
                <input datepicker id="addDate" type="text" name="date" datepicker-format="dd/mm/yyyy" required
                       class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="Seleccione una fecha">
            </div>
        </div>

        <!-- Payment Method -->
        <div class="col-span-6 sm:col-span-3">
            <label for="addType"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Método de pago</label>
            <select name="payment_method" id="addType"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    required>
                <option value="" selected>Seleccione un método de pago</option>
                <option value="Efectivo">Efectivo</option>
                <option value="Tarjeta de Crédito">Tarjeta de Crédito</option>
                <option value="Tarjeta de Débito">Tarjeta de Débito</option>
                <option value="Transferencia Bancaria">Transferencia Bancaria</option>
                <option value="Otro">Otro</option>
            </select>
        </div>


        <!-- Payment Amount -->
        <div class="col-span-6 sm:col-span-3">
            <label for="addAmount"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Monto</label>
            <input type="number" name="amount" id="addAmount"
                   class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                   placeholder="Ingrese el monto" required min="0.01" step="0.01">
        </div>

        <!-- Member -->
        <div class="col-span-6 sm:col-span-3">
            <label for="addMember"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Miembro</label>
            <select name="member_id" id="addMember"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    required>
                <option value="" selected>Seleccione un miembro</option>
                {% for member in members %}
                    <option value="{{ member.id }}">{{ member.person.name }} {{ member.person.surname }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Error Message Container -->
        <div id="addErrorMessageContainer"
             class="hidden p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 col-span-6"
             role="alert">
            <svg class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Danger</span>
            <div>
                <span class="font-medium" id="addErrorMessage">Ensure that these requirements are met:</span>
            </div>
        </div>

        <!-- Observations -->
        <div class="col-span-6">
            <label for="addObservations"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Observacion</label>
            <textarea name="observations" id="addObservations" rows="3" maxlength="200"
                      class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="Ingrese observaciones adicionales (opcional)"></textarea>
        </div>
    </div>
{% endblock %}
